<%- contentFor('content') %>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <img class="img-responsive" style="width:80px;height:80px;" src="/image/logo.png"/>
        </div>
        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/about">About Me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li class="active"><a href="/contacts">Contacts</a></li>
        </ul>
    </div>
</nav>    
<h3><%= message %></h3>
<form role="form" method="post" id="login_form" action="/login">
    <div class="row">
        <div class="col-sm-6 form-group">
            <label for="name"><h3>Username/Email:</h3></label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="col-sm-6 form-group">
            <label for="name"><h3>Password:</h3></label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>                
    </div>  
    <div class="row">
        <div class="col-sm-12 form-group">
            <button type="submit" class="btn btn-lg btn-default pull-right">Login →</button>
        </div>
    </div>
</form>